.projects {
  background-color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__number {
  font-size: 21px;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
}
.projects__subtext {
  color: var(--color-white);
  padding: 0;
  margin: 0;
}
.projects__desc {
  margin-left: 20px;
}