.section-about__wrapper {
    max-width: 540px;
    margin: auto;
    margin-top: 112px;


    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__desc {
        color: var(--color-main);
        text-align: center;
        margin-bottom: 50px;
    }
}