 @import 'normalize';
 @import 'variables';
 @import 'common';
 @import 'header';
 @import 'navigation';
 @import 'project';
 @import 'section-about';
 @import 'section-bro';
 @import 'section-work';

 @media screen and (max-width: 1160px) {

     .container {
         padding-left: calc(50vw - 450px);
         padding-right: calc(50vw - 450px);
     }

     .footer__name {
         padding-left: 100px;
     }

     .img-grand {
         width: 100%;
         height: auto;
     }

     .contur {
         width: 10%;
         height: auto;
     }

 }

 @media screen and (max-width: 800px) {

     .container,
     .footer__name,
     .img-grand,
     .section-w.section-work__wrapper,
     .section-about__wrapper {
         padding-left: calc(50vw - 400px);
         padding-right: calc(50vw - 400px);
         max-width: 350px;
     }

     .img-grand {
         width: 71%;
         height: auto;
     }

     .img-contur {
         width: 71%;
         height: auto;
     }

     .projects {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 100%;
         padding-top: 30px;
         align-content: center;
         justify-content: space-between;
         justify-items: center;
     }

     .projects__item {
         align-self: center;
     }

     .section-about__wrapper {
         margin-top: 60px;
     }

     .section-work__wrapper {
         margin-top: 60px;
         margin-bottom: 30px;
     }
 }

 @media screen and (max-width: 500px) {
     .container {
         padding-left: calc(50vw - 200px);
         padding-right: calc(50vw - 200px);
     }

     .header {
         padding-top: 5px;
         background-color: var(--background-main);
         padding-bottom: 5px;
         position: sticky;
         top: 0;
     }

     .footer__name {
         padding-left: calc(50vw - 100px);
         padding-right: calc(50vw - 100px);
     }

     .img-grand {
         width: 250px;
         height: auto;
     }

     .img-contur {
         width: 25px;
         height: auto;
     }

     .navigation {
         width: 100%;
         height: 100%;
         overflow: hidden;
     }

     .navigation__list a {
         display: block;
     }

     .navigation__item {
         display: block;
     }

     .navigation {
         max-height: 0;
         transition: max-height .5s ease-out;
     }

     .section-bro {
         padding-top: 20px;
     }

     .projects {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 10px;
         grid-template-rows: 25% 25% 25%;
         padding-top: 20px;
         padding-bottom: 20px;
         align-content: center;
         justify-items: center;
         gap: 30px;
     }

     .section-bro__title {
         font-size: 12px;
     }

     .section-bro__link {
         margin-top: 3em;
     }

     .name {
         padding-top: 10px;
     }

     .copy {
         padding-bottom: 10px;
     }
 }


 @media screen and (max-width: 450px) {
     .container {
         padding-left: calc(50vw - 150px);
         padding-right: calc(50vw - 150px);
     }

     .projects {
         gap: 40px;

     }

     .footer__name {
         padding-left: calc(50vw - 75px);
         padding-right: calc(50vw - 75px);
     }

     .section-work {
         padding-bottom: 60px;
     }

 }